<p>game-logic works!</p>

<div *ngIf="gameLogic | async as l">
  <h2>Round {{l.round}}</h2>

  <p>Player score: {{l.playerScore}}</p>
  <p>Computer score: {{l.compScore}}</p>

  <p>Choose:</p>
  <button [ngClass]="{'disabled': disabledToggle}" (click)="submitScore(0)">Rock</button>
  <button [ngClass]="{'disabled': disabledToggle}" (click)="submitScore(1)">Paper</button>
  <button [ngClass]="{'disabled': disabledToggle}" (click)="submitScore(2)">Scissors</button>


  <p>You chose {{playerChoice}}</p>
  <p>The computer chose {{computerChoice}}</p>

  <p>This round was a {{outcome}}</p>

  <div *ngIf="l.round === 10; else nextRoundBlock">
    <button>See results</button>
    
  </div>

  <ng-template #nextRoundBlock>
      <button [ngClass]="{'disabled': !disabledToggle}" (click)="nextRound()">Next round</button>
  </ng-template>
  




  <p>Debug</p>
  <p>{{l.playerChoices}}</p>
  <p>{{l.compChoices}}</p>
</div>
