<div *ngIf="gameLogic | async as l">
  <h2>Overall score: {{l.playerScore}} - {{l.compScore}}</h2>
  <h3>Round {{l.round}}</h3>

  <!-- selection part -->
  <div [ngClass]="{'disabled': disabledToggle}">
    <p>Choose:</p>
    <div class="rps" (click)="submitScore(0)">
      <div class="icon rock"></div>
    </div>
    <div class="rps" (click)="submitScore(1)">
        <div class="icon paper"></div>
    </div>
    <div class="rps" (click)="submitScore(2)">
        <div class="icon scissors"></div>
    </div>
  </div>

  <!-- round results part -->
  <div [ngClass]="{'disabled': !disabledToggle}">
    <p>You chose {{playerChoice}}</p>
    <div class="rps">
        <div [ngClass]="'icon ' +playerChoice "></div>
      </div>
    <p>The computer chose: {{computerChoice}}</p>
    <div class="rps">
      <div [ngClass]="'icon ' +computerChoice "></div>
    </div>
  
    <p>This round was a {{outcome}}</p>
  
    <div *ngIf="l.round === 10; else nextRoundBlock">
      <div class='btn' routerLink="/results" routerLinkActive="active">
        <p>See results</p>
      </div>
    </div>
  
    <ng-template #nextRoundBlock>
      <div class="btn" (click)="nextRound()">
        <p>Next round</p>
      </div>
    </ng-template>
  </div>
  
</div>
